@use 'rainbow' as *;
@use 'breakpoints' as *;

@font-face {
  font-family: 'Inter Fallback';
  src: local('Arial');
  ascent-override: 90%;
  descent-override: 22%;
  line-gap-override: 0%;
  size-adjust: 107%;
}

* {
  box-sizing: border-box;
  font-family: Inter, 'Inter Fallback', sans-serif;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;

  @include bp-lg-up {
    scroll-padding-top: 200px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}