@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    @apply
      bg-primary-white dark:bg-primary-dark text-primary-black dark:text-primary-white
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    @apply
      text-primary-black dark:text-primary-white
  }
}

@layer components {
  /* index.tsx styles */
  .index-main {
    @apply w-full h-screen bg-primary-white dark:bg-primary-darkest text-primary-black overflow-x-hidden overflow-y-auto scrollbar scrollbar-track-primary-dark/20 scrollbar-thumb-primary-dark/40
  }
  .index-container {
    @apply w-full h-[88vh] xl:flex items-center gap-20 justify-between
  }
  .index-side {
    @apply hidden xl:inline-flex w-28 h-full fixed bottom-0
  }
  .index-content {
    @apply h-[88vh] w-full mx-auto p-4 xl:p-0 pt-14 xl:pt-32
  }

  /* AboutMe.tsx styles */
  .about-me-section {
    @apply max-w-containerSmall mx-auto py-10 md:py-32 flex flex-col gap-8 text-primary lg:px-5
  }
  .about-me-description-container {
    @apply flex flex-col lgl:flex-row gap-16
  }
  .about-me-description {
    @apply w-full text-base text-primary-black dark:text-primary-lightgray font-medium gap-4
  }
  .technologies-container {
    @apply block text-center mx-auto mt-14 text-xl md:text-2xl
  }
  .technologies-list {
    @apply flex py-4 gap-2 md:gap-3 mt-2 md:mt-5 justify-items-center
  }
  .technology-link {
    @apply w-8 h-8
  }
  .technology-icon {
    @apply w-8 h-8 group-hover:-translate-y-1.5 transition-all duration-300 ease-in-out z-0 mb-0 rounded-md
  }
  .technology-name {
    @apply min-w-min p-1 md:p-2 relative -top-10 md:-top-12 left-2 md:left-6 rounded-md shadow-md text-primary-white dark:text-primary-lightgray bg-primary-dark text-[10px] md:text-xs font-bold invisible opacity-0 group-hover:opacity-100 group-hover:visible z-40 transition-all duration-300
  }

  /* Archive.tsx styles */
  .archive-container {
    @apply max-w-container mx-auto py-10 md:py-32
  }
  .archive-div {
    @apply w-full flex flex-col items-center
  }
  .archive-header-1 {
    @apply text-3xl font-semibold
  }
  .archive-header-2 {
    @apply mt-2 text-sm text-primary
  }
  .archive-cards-container {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5 md:gap-8 mt-10 lgl:px-10
  }
  .archive-card-flex-grow {
    @apply flex-grow -mb-7
  }
  .archive-button-container {
    @apply mt-12 flex items-center justify-center
  }
  .archive-button {
    @apply w-36 h-12 rounded-md text-primary border border-primary hover:bg-primary-lightblue dark:hover:bg-primary-darker duration-300
  }

  /* ArchiveCard.tsx styles */
  .archive-card-container {
    @apply w-full h-full rounded-lg p-8 bg-primary-lightblue dark:bg-primary-darker flex flex-col gap-6 hover:-translate-y-2 transition-transform duration-300
  }
  .archive-card-icons {
    @apply flex justify-between items-center mb-4
  }
  .archive-card-icon {
    @apply text-4xl hover:text-primary dark:text-primary-lightgray dark:hover:text-primary duration-300
  }
  .archive-card-title {
    @apply text-2xl font-semibold tracking-wide group-hover:text-primary -mt-1 duration-300
  }
  .archive-card-description {
    @apply text-sm mt-4 mb-2 text-primary-black dark:text-primary-lightgray
  }
  .archive-card-technologies {
    @apply text-xs mdl:text-sm text-primary-gray sm:px-0 flex justify-center text-center gap-6 mt-1
  }

  /* Banner.tsx styles */
  .banner-section {
    @apply max-w-containerSmall mx-auto py-10 md:py-32 flex flex-col gap-4 lgl:gap-8
  }
  .banner-h3 {
    @apply text-lg tracking-wide text-black dark:text-primary-white font-semibold
  }
  .banner-h1 {
    @apply text-4xl lgl:text-6xl font-semibold flex flex-col text-primary -mt-3 text-primary dark:text-primary
  }
  .banner-span {
    @apply text-primary-black mt-2 lgl:mt-4 text-black dark:text-primary-lightgray
  }
  .banner-description {
    @apply text-base md:max-w-[650px] font-medium text-black dark:text-primary-lightgray
  }
  .banner-project {
    @apply mt-4 text-xl inline-flex relative text-primary cursor-pointer h-7 overflow-x-hidden
  }
  .banner-project-hover {
    @apply absolute w-full h-[1px] bg-primary left-0 bottom-0.5 -translate-x-[110%] group-hover:translate-x-0 transition-transform duration-500
  }

  /* ChangeTheme.tsx styles */
  .change-theme-buttons {
    @apply invisible text-primary-black dark:text-primary-lightgray mt-0.5 md:mt-0 -ml-48 md:ml-0
  }
  .change-theme-icon {
    @apply visible flex text-xl mr-2
  }

  /* ContactMe.tsx styles */
  .contact-me-section {
    @apply max-w-contentContainer mx-auto py-10 xl:py-32 flex flex-col gap-4 items-center justify-center
  }
  .contact-me-header {
    @apply text-4xl text-primary font-bold flex items-center tracking-wide
  }
  .contact-me-description {
    @apply max-w-[700px] text-center text-primary-black dark:text-primary-lightgray mb-6
  }
  .my-button {
    @apply w-36 h-12 rounded-md text-primary border border-primary hover:bg-primary-lightblue dark:hover:bg-primary-darker duration-300
  }

  /* Footer.tsx styles */
  .footer-container {
    @apply inline-flex xl:hidden items-center justify-center w-full pb-12 pt-6 gap-4
  }
  .footer-icon {
    @apply w-14 h-14 text-4xl rounded-full inline-flex items-center justify-center cursor-pointer bg-primary-white dark:bg-primary-dark outline outline-[1px] text-primary-gray dark:text-primary-lightgray  hover:-translate-y-2 transition-all duration-300
  }

  /* LeftSide.tsx styles */
  .left-side-container {
    @apply w-full h-full flex flex-col items-center justify-end gap-4
  }
  .left-side-icons {
    @apply flex flex-col gap-3 items-center
  }
  .left-side-icon {
    @apply w-14 h-14 text-4xl rounded-full inline-flex items-center justify-center cursor-pointer bg-primary-white dark:bg-primary-dark outline outline-[1px] text-primary-gray dark:text-primary-lightgray hover:-translate-y-1.5 transition-all duration-300
  }
  .github-icon {
    @apply hover:text-black dark:text-primary-lightgray
  }
  .linkedin-icon {
    @apply hover:text-primary-linkedin dark:hover:text-primary-linkedin
  }
  .gmail-icon {
    @apply hover:text-primary-gmail dark:hover:text-primary-gmail
  }
  .left-side-line {
    @apply w-[2px] h-32 -mt-1 bg-primary-gray
  }

  /* MobileMenu.tsx styles */
  .mobile-menu-container {
    @apply -mr-3 flex flex-col justify-between dark:text-primary-white items-center md:hidden text-4xl cursor-pointer overflow-hidden
  }
  .mobile-menu-icons {
    @apply absolute bottom-20 text-center flex gap-2
  }
  .mobile-menu-icon {
    @apply w-full h-[2px] bg-primary-black dark:bg-primary-lightgray inline-flex transform transition-all ease-in-out duration-300
  }
  .mobile-menu {
    @apply absolute mdl:hidden top-0 right-0 w-full h-screen bg-black bg-opacity-50 flex flex-col items-end overflow-hidden
  }
  .mobile-menu-inner {
    @apply w-[80%] h-full overflow-y-scroll bg-primary-white dark:bg-primary-darker flex flex-col items-center px-4 py-14 relative overflow-hidden
  }
  .mobile-menu-close {
    @apply text-3xl text-primary-black dark:text-primary-lightgray cursor-pointer hover:text-primary dark:hover:text-primary absolute top-4 right-4 duration-300
  }
  .mobile-menu-ul {
    @apply flex flex-col text-base gap-7
  }
  .mobile-menu-li {
    @apply text-primary-black dark:text-primary-white
  }
  .mobile-menu-icon {
    @apply w-10 h-10 text-2xl rounded-full inline-flex items-center justify-center cursor-pointer bg-primary-white dark:bg-primary-dark outline outline-[1px] text-primary-gray dark:text-primary-lightgray hover:-translate-y-2 transition-all duration-300
  }
  .mobile-menu-email {
    @apply text-sm w-72 tracking-widest text-primary text-center relative top-4
  }

  /* Navbar.tsx styles */
  .navbar-container {
    @apply fixed top-0 left-0 z-40 h-16 md:h-24 justify-center items-center bg-white dark:bg-black shadow-md md:shadow-lg py-0 w-full
  }
  .navbar {
    @apply container flex items-center justify-between h-16 md:h-24
  }
  .navbar-logo {
    @apply w-16 md:w-24 h-16 md:h-24 -ml-6 md:-ml-12
  }
  .navbar-items {
    @apply flex text-[16px] gap-7 invisible md:visible
  }
  .navbar-link {
    @apply flex items-center gap-1 font-medium text-primary-black transition text-primary-black dark:text-primary-white hover:text-primary dark:hover:text-primary duration-300
  }

  /* RightSide.tsx styles */
  .right-side-container {
    @apply w-full h-full flex flex-col items-center justify-end gap-6
  }
  .right-side-gmail {
    @apply rotate-90 w-80 mb-3 tracking-wide text-primary-black dark:text-primary-lightgray hover:text-primary dark:hover:text-primary duration-300
  }
  .right-side-line {
    @apply w-[2px] h-32 mt-4 bg-primary-gray inline-flex
  }

  /* SectionTitle.tsx styles */
  .section-title-container {
    @apply text-2xl font-semibold flex
  }
  .section-title-line {
    @apply hidden md:inline-flex md:w-60 lgl:w-72 h-[1px] bg-primary-black mt-4 ml-6
  }
}
